@charset 'UTF-8';

@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@font-face {
	font-family: 'Do Hyeon', sans-serif;
}

/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
header {
	margin-bottom: 2em;
}

footer {
	margin-top: 1em;
}

/* Buttons */
.button {
	position: relative;
	display: inline-block;
	margin-top: 0.5em;
	padding: 1em 1.5em;
	background: #c61732;
	border-radius: 6px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.1em;
	color: #FFF;
	-moz-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	-o-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	-ms-transition: color 0.35s ease-in-out, background-color 0.35s
		ease-in-out;
	transition: color 0.35s ease-in-out, background-color 0.35s ease-in-out;
	cursor: pointer;
}

.button:hover {
	background: #ad142c;
	color: #FFF !important;
}

.medium {
	padding: 1em 2em;
	font-size: 1.4em;
}

/*********************************************************************************/
/* box                                                                        */
/*********************************************************************************/
#box {
	display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {
	position: relative;
	background: #FFF;
	padding: 91.8px;
}

#header .container {
	/* 	position: static;
	padding: 3em 0em; */
	

clear: both;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/
#logo {
	position: absolute;
	left: 6em;
	top: 1.5em;
}
.mainLogo {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 600;
	color: black;
}

#logo a, #logo a:link, #logo a:visited {
	/* display: block; */
	text-decoration: none;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 600;
	color: black;
}

/*********************************************************************************/
/* mainMenu                                                                           */
/*********************************************************************************/

#mainMenu {
	font-family: 'Do Hyeon', sans-serif;
}
#mainMenu1 {
	position: absolute;
    top: 120px;
    left: 400px;
    width: 200px;
    height: 60px;
    background: #00b4cc;
}
#mainMenu2 {
	position:absolute;
	top:50px;
	left:500px;
}
#mainMenu3 {
	position:absolute;
	top:50px;
	left:600px;
}
#mainMenu4 {
	position:absolute;
	top:50px;
	left:700px;
}
#mainMenu5 {
	position:absolute;
	top:50px;
	left:800px;
}





/*********************************************************************************/
/* Nav & tab                                                                     */
/*********************************************************************************/
/* #nav {
	background: #FFF;
}

#nav>ul>li {
	list-style-type: none;
	float: left;
}

#nav>ul>li:last-child {
	padding-right: 0;
} */


/* #nav>ul>li>a, #nav>ul>li>span {
	font-family: 'Do Hyeon', sans-serif;
    display: block;
    margin-left: 0.4em;
    padding: 0px 40px 0px 10px;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    outline: 0;
    color: #252525;
    outline: 0;
} */

/* #nav li.active a {
	color: #FFF;
}

#nav>ul>li>ul {
	display: none;
} */



.tab-wrapper {
	width: 1200px;
	font-family: 'Do Hyeon', sans-serif;
	font-size: 19px;
}

.tab-menu {
	position: absolute;
    top: 116.4px;
    left:27%;
}

.tab-menu li {
  position:relative;
  background-color: #f9f9f9;
  color:#bcbcbc;
  display: inline-block;
  padding: 20px 40px;
  opacity: 0.8;
  cursor:pointer;
}

.tab-menu li:hover {
  color:#464646;
}

.tab-menu li.active {
  color:#464646;
  opacity: 1;
}

.tab-menu li.active:hover {
  color:aqua;
}

.tab-content>div {
  background-color: #fff;
  box-sizing:border-box;
  width: 100%;
  padding: 50px;   
  min-height:200px;
}

.line {
  position:absolute;
  width: 0;
  height: 7px;
  background-color: aqua;
  top: 0;
  left: 0;
  z-index: 2;
}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/
#main {
	position: relative;
	min-height: 800px;
}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/
#featured {
	position: relative;
	background: url(images/featured-wrapper-bg.jpg) repeat;
	text-align: center;
	color: #FFF;
}

#featured header {
	
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
#footer {
	position: relative;
	background: url(images/footer-content-wrapper-bg.jpg) repeat;
	color: rgba(255, 255, 255, .6);
}

#footer header h2 {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.4em;
	color: #FFF;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/
#copyright {
	position: relative;
	padding: 1em 0em;
	text-align: center;
	color: rgba(255, 255, 255, .4);
	height: 50px;
}

#copyright .container {
	
}

#copyright a {
	text-decoration: none;
	color: rgba(255, 255, 255, .6);
}